.callcompletednotice-wrap {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: var(--z-callnotice);
}

.callcompletednotice-dimmer {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 21;

  background-color: var(--call_incoming_color);
}

.callcompletednotice-content {
  position: absolute;
  z-index: 22;
}

.callcompletednotice-buttons {
  position: relative;
  width: 218px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.callcompletednotice-buttons-center {
  justify-content: space-around;
  /* Note sure why the margin is required but it won't center without it */
  margin: 0 auto;
}

.callcompletednotice-notice {
  display: block;
  margin-bottom: 20px;
  text-align: center;
  color: var(--white);
  font-size: 24px;
}

.callcompletednotice-notice:last-child {
  margin-bottom: 60px;
  font-weight: 300;
  font-size: 20px;
}
