.assessment-photo-answer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.assessment-photo-answer-attachment {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 15px;
}
