.assessment-rating-top-label {
  display: flex;
  justify-content: flex-start;
  padding: 10px 0;
}

.assessment-rating-bottom-label {
  display: flex;
  justify-content: flex-end;

  margin-top: 10px;
}

.assessment-rating-buttons {
  display: flex;
  flex-wrap: wrap;
}

.assessment-rating-buttons label {
  margin: 0;
  padding: 0;
}

.assessment-rating-buttons input[type='radio'] {
  display: none;
  margin: 0;
  padding: 0;
}
.assessment-rating-buttons input[type='radio']:checked + .box {
  background-color: var(--brandcolor);
  border: solid 1px var(--brandcolor);
}

.assessment-rating-buttons input[type='radio']:checked + .box span {
  color: white;
}

.assessment-rating-buttons .box {
  display: flex;
  width: 55px;
  height: 55px;
  background-color: var(--assessment__input_bg);
  transition-property: background-color, border;
  transition-duration: 250ms;
  transition-timing-function: ease;
  will-change: transition;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  font-weight: 900;
  border: solid 1px var(--assessment__input_border_color);
}

.assessment-rating-buttons .box span {
  position: absolute;
  left: 0;
  right: 0;
  transition: all 300ms ease;
  font-size: 18px;
  user-select: none;
  color: #fff;
}

.five-type-box .box {
  width: 67px;
  height: 67px;
}
