.checkpasswordexpiration-message {
  color: black;
}

.checkpasswordexpiration-button,
.checkpasswordexpiration-button:visited {
  display: inline-block;
  color: var(--black);
  margin: 10px auto;
  padding: 4px 6px;
  border: 1px solid black;
  border-radius: 4px;
}
