.patientmonitor-wrap {
  width: 100%;
  overflow-y: scroll;
}

.patientmonitor {
  position: relative;
  width: 100%;
  margin: 0 auto;
  max-width: 800px;

  color: var(--base__body_fg);
}

.meter {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 80px;
  width: 100%;

  color: var(--base__body_fg);
  background-color: var(--patientpage__patientlist_bg);
  border-top: 1px solid var(--brandcolor);
}

.meter span:first-of-type {
  font-size: 48px;
  font-weight: var(--font-base--black);
  margin-left: 32px;
}

.meter span:last-of-type {
  font-size: 18px;
  font-weight: 300;

  margin-right: 16px;
}

.meter--alarm {
  background-color: var(--patientpage__monitoring_alarm_bg);
}

.meter--alarm span {
  color: var(--patientpage__monitoring_alarm_fg);
}

.patientmonitor-meters div:last-child {
  border-bottom: 1px solid var(--brandcolor);
}

.patientmonitor-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  min-height: 74px;
  padding: 8px 12px;
}

.patientmonitor-header-request-only {
  justify-content: flex-end;
}

.patientmonitor-timestamp {
  display: flex;
  flex-direction: column;
  font-size: var(--font-base-body--size);
  padding: 8px 8px 8px 0;
}

.patientmonitor-timestamp span:last-of-type {
  font-weight: var(--font-base--bold);
}

.patientmonitor-loader {
  width: 100%;
  margin: 0 auto;

  margin-top: 100px;
}

.patientmonitor-blank {
  text-align: center;
  margin-top: 32px;

  font-size: var(--font-base-body--size-large);
  font-weight: var(--font-base--bold);
}
