.modalyesnotoast {
  height: 298px;
  padding: 30px;
}

.modalyesnotoast h3 {
  color: var(--white);
  font-size: 20px;
  font-weight: 300;
  margin: 0 0 16px 0;
}

.modalyesnotoast p {
  color: var(--brandcolor);
  font-size: 14px;
  font-weight: 300;
  margin: 0 0 16px 0;
}

.modalyesnotoast button:last-of-type {
  margin-top: 10px;
}

.modalyesnotoast--bottom {
  position: absolute;
  bottom: 38px;
  width: calc(100% - 76px);
}
