.programevents-container {
  width: 100%;
  overflow-y: auto;
  padding-bottom: 60px;
}

.modalrmp {
  height: 230px;
  padding: 30px 30px 10px 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
